/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  padding-left: 30px;
}
img{
  display: block;
  /* height: 300px; */
  /* margin: 0 auto; */
}
h3{
  max-width: 80%;
}

/******************************************
/* IMAGES
/*******************************************/

.tiki-container {
  position: relative;
  width: 500px; /* adjust to match your tiki-bar PNG width */
  height: auto;
}

.drink {
  position: absolute;
  top: 33%; /* adjust so it fits inside your transparent window */
  left: 31%;
  width: 38%; /* so it fits inside the window without stretching */
  height: auto;
  object-fit: contain; /* IMPORTANT: keeps aspect ratio */
  z-index: 1;
}

.tiki-frame {
  position: relative;
  width: 500px;
  border-radius: 10%;
  height: auto;
  z-index: 2;
}

.ingredient-images {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;
}

.ingredient-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
