/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 50px 0;
}

img{
  display: block;
  /* height: 300px; */
  /* margin: 0 auto; */
}

/* h3{
  max-width: 80%;
} */

.cocktailMethod{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 75%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

html{
  font-size: 62.5%;
}
body{
  font-family:'Tahoma', 'Verdana', 'Times New Roman';
  font-size: 1.5rem;
}
h1{
  font-size: 3.5rem;
}
.instructions{
  text-align: center;
}
.cocktailMethod{
  font-size: 2rem;
}
.ingredients, .instructions{
  font-size: 1.5rem;
}


/******************************************
/* IMAGES
/*******************************************/

.tiki-container {
  position: relative;
  width: 500px; /* adjust to match your tiki-bar PNG width */
  height: auto;
}

.drink {
  position: absolute;
  top: 33%; /* adjust so it fits inside your transparent window */
  left: 31%;
  width: 38%; /* so it fits inside the window without stretching */
  height: auto;
  object-fit: contain; /* IMPORTANT: keeps aspect ratio */
  z-index: 1;
}

.tiki-frame {
  position: relative;
  width: 500px;
  border-radius: 10%;
  height: auto;
  z-index: 2;
}

.ingredient-images {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;
}

.ingredient-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

button {
  padding: 5px 10px;
}