<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Cuisine Restaurant">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="bigHead">
			<header>
				<nav>
					<img src="#" alt="Shop. Basket">
					<img src="#" alt="Mag. Glass">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Menu</a></li>
						<li><a href="#">Order Now</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Location</a></li>
					</ul>
				</nav>
			</header>
			<section class="welcomeGroup">
				<h1>Welcome<br>To Our Cuisine<br>Restaurant</h1>
				<input type="text" id="searchLocation" placeholder="Search here">
				<button>Location</button>
				<br>
				<div class="socialTrio">
					<img src="#" alt="socials">
					<span>252k</span>
					<img src="#" alt="socials">
					<span>62k</span>
					<img src="#" alt="socials">
					<span>55k</span>
				</div>
			</section>
		</div>
		<div class="discover">
			<section class="aboutUs">
				<span>About us</span>
				<h2>Discover Our Restaurant Story</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt molestiae nulla architecto sit, laboriosam vero, magni quidem laudantium, ratione soluta explicabo nostrum perspiciatis eius quia tempora veniam culpa omnis iusto!
				<br><br>laboriosam vero, magni quidem laudantium, ratione soluta explicabo nostrum perspiciatis eius quia tempora veniam culpa omnis iusto!</p>
				<button>Discover Menu</button>
			</section>
		</div>
		<div class="specialtyCuisine">
			<section class="specialtyWithin">
				<span>Order online now</span>
				<h2>Our Specialty Cuisine</h2>
				<nav>
					<ul>
						<li><a href="#">Breakfast</a></li>
						<li><a href="#">Lunch</a></li>
						<li><a href="#">Dinner</a></li>
						<li><a href="#">Dessert</a></li>
						<li><a href="#">Shake</a></li>
					</ul>
				</nav>
				<img src="#" alt="Food">
				<img src="#" alt="Food">
				<img src="#" alt="Food">
				<img src="#" alt="Food">
				<img src="#" alt="Food">
				<img src="#" alt="Food">
				<img src="#" alt="Food">
				<img src="#" alt="Food">
				<br>
				<section class="foodImage"><span>Image of food</span></section>
				<section class="foodImage"><span>Image of food</span></section>
				<section class="foodImage"><span>Image of food</span></section>
				<section class="foodImage"><span>Image of food</span></section>
			</section>
		</div>
		<div class="openingHours">
			<section class="openingWithin">
				<span>Book Table</span>
				<h2>Opening Hours</h2>
				<img src="#" alt="Phone">
				<br>
				<span>Call Now</span>
				<h5>+12345 678 910</h5>
				<div class="containDays">
					<span>Monday to Tuesday</span>
					<span>Friday to Sunday</span>
				</div>
				<div class="containTimes">
					<h5>09:00am - 22:00pm</h5>
					<h5>11:00am - 20:00pm</h5>
				</div>
				<a href="#"><img src="#" alt="Arrow"></a>
				<a href="#"><img class="breakfastBowl" src="/Users/jackknott/Desktop/100Devs/class10-materials/layout-photos/breakfast-bowl.png" alt="Breakfast bowl"></a>
				<a href="#"><img src="#" alt="Arrow"></a>
			</section>
		</div>
		<div class="testimonials">
			<section class="testimonialsWithin">
				<span>Testimonials</span>
				<h3>Customers Say</h3>
				<img src="#" alt="portrait of man">
				<div class="circleContain">
					<section class="circle"></section>
				</div>
				<h5>Mr John Smith</h5>
				<span>Art Director</span>
				<br>
				<img src="#" alt="5 Stars">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, exercitationem? Sequi temporibus in debitis? Impedit maxime eligendi fuga ipsam expedita rem similique deserunt doloribus fugiat neque optio quod, odit ad.</p>
			</section>
		</div>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
