/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
#dogContainer img{
  width: 100%;
  height: auto;
  display: block;
}

#dogContainer{
  max-width: 500px;
  margin: 20px auto;
}

.meme{
  display: block;
  margin: 20px auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
