/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

h1, h2, form{
  text-align: center;
}
button{
  display: block;
  margin: 20px auto;
}
h2{
  font-size: 72px;
  color: black;
  font-weight: bold;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
