*{
    box-sizing: border-box;
}
header, footer {
    height: 100px;
    border: 3px black solid;
    clear: both;
}
section {
    height: 200px;
    border: 3px black solid;
}
.section-1-3 {
    height: 300px;
    width: 33.3%;
    float: left;
}
.section-2-3 {
    height: 300px;
    width: 66.6%;
    float: left;
}