/******************************************
/* Box Model Hack
/*******************************************/

* {
    box-sizing: border-box;
}

/******************************************
/* Clearfix Hack
/*******************************************/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* Base Styles
/*******************************************/

body {
    width: 960px;
    background-color: rgba(102, 119, 138, 1);
}
h1, h2, h3, h4, p, span{
    text-align: center;
}

/******************************************
/* Layout
/*******************************************/

.container{
    width: 960px;
    text-align: center;
}
.hero h1{
    padding: 0 50px;
}
.hero p{
    padding: 0 66px;
}
.hero span{
    display: inline-block;
    font-style: italic;
    color: rgb(53, 53, 53);
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 40px;
}
section.why{
    height: 350px;
    padding-top: 80px;
    background-color: white;
}
.why, .why p{
    color: black;
    display: inline-block;
}
.why p{
    padding: 0 300px;
}
div.bigReason{
    height: 600px;
    width: 100%;
    text-align: center;
    background-color: rgba(219, 223, 226, 1);
}
.leftBlue, .rightBlue{
    width: 300px;
    height: 150px;
    margin: 90px 0 0 90px;
    border: 1px solid black;
    background-color: grey;
}
.leftReasons, .rightReasons{
    width: 50%;
    float: left;
}
h4 + p{
    padding: 0 40px;
    margin: 0 40px;
}
section.why.volunteer.container{
    height: 400px;
}

/*
  ========================================
  Links
  ========================================
*/

.hero a{
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;  
    padding-top: 10px;
}
.reasonsLink, .volunteerLink{
    display: inline-block;
    color: black;
    width: auto;
    margin: 30px 0;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    text-decoration: none;
}

/*
  ========================================
  Typography
  ========================================
*/
h1, h2, h3, h4, h5, p, span, a{
    font-family: Arial, Helvetica, sans-serif;
}
h1, p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 48px;
}
span{
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

/*
  ========================================
  Primary header
  ========================================
*/

.primaryHeader{
    width: 960px;
    height: 100px;
    background-color: rgba(102, 119, 138, 1);
}
.primaryHeader *{
    display: inline-block;
    margin-left:20px;
}
.primaryHeader img{
    padding-left: 160px;
    padding-right: 200px;
}
.primaryHeader a{
    color: white;
    text-decoration: none;
}


/*
  ========================================
  Primary footer
  ========================================
*/

div.bigFoot{
    height: 200px;
    text-align: left;
    background-color: rgba(22, 31, 41, 1);
}
.bigFoot *{
    color: white;
}
.footLeft{
    float: left;
    width: 50%;
}
.footLeft span, .footLeft h5{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.footLeft img{
    display: inline-block
}
.footRight{
    float: right;
    width: 50%;
    text-align: right;
}
.bottomFoot{
    float: left;
    width: 100%;
    clear: both;
}
.bottomFoot span{
    display: inline-block;
    margin: 10px;
    margin-top: 30px;
    padding-top: 10px;
    padding-right: 150px;
    border-top: 1px solid grey;
}
.footLeft li{
    list-style: none;
}
.cheeky{
    padding: 40px 0 0 20px;
}
.footRight span{
    width: 40%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    text-align: left;
    padding: 40px 40px 0 0;
}


