/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
button{
  font-family: Arial, Helvetica, sans-serif;
}
img.chair{
  height: 300px;
}
.chairContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 115px;
}
img.football{
  height: 200px;
  /* margin: 0 auto; */
}
ul{
  width: 100px;
  height: 266px;
  border: 3px solid black;
  /* margin: 0 auto; */
  list-style: none;
  padding: 0;
}
li{
  width: 94px;
  height: 65px;
}
section{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.container{
  padding-left: 35px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#purple{
  background: rgba(241,63,247,1);
}
#green{
  background: rgba(0,253,81,1);
}
#blue{
  background: rgba(0,254,255);
}
#red{
  background: rgba(224,41,20,1);
}

