/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
.cormorant-garamond-light {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}
.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}
header li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
h1{
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 79px;
  color: white;
}
h1 + span{
  color: white;
}

/******************************************
/* LAYOUT
/*******************************************/
header{
  max-width: 100%;
  height: 20px;
}
header li{
  float: left;
  margin-right: 20px;
}
header img{
  float: left;
  margin-right: 20px;
}
.logoImage{
  margin-right: 60px;
}
html main{
  height: 700px;
}
main{
  background-image: url('/Users/jackknott/Desktop/100Devs/class10-materials/layout-photos/360_F_170946883_tFqyPQZZfBWlD5RQ25aB8IR2bCrv9bYt.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  z-index: 1;
}
main > section{
  height: 400px;
  width: 80%;
  float: left;
}
main > section *{
  padding: 150px 20px 0 90px;
}
main h1{
  padding-top: 100px;
}
main button{
  padding: 0;
  margin-left: 90px;
  margin-top: 10px;
}
main h1{
  margin-bottom: 10px;
}
main img{
  float: right;
  margin-top: 180px;
  margin-right: 40px;
}
.shiftHolder{
  max-width: 20%;
  float: right;
  height: 400px;
}
.verticalShift{
  float: right;
  writing-mode: vertical-rl; /* Rotates text top-to-bottom, right-to-left */
  color: white;
}
.buttonBox{
  background-color: black;
  float: left;
  width: 170px;
  height: 250px;
  margin-left: 90px;
  margin-top: 2%;
}
.buttonBox *{
  color: white;
  padding: 0;
  margin: 20px 0 0 20px;
}
.offset{
  position: relative;
  top: 50px;
}
.buttonBox span{
  padding-top: 20px;
}
.bigTwenty{
  font-size: 32px;
}
.buttonBox button{
  color: black;
}
.heroSection button{
  background-color: black;
  color: white;
  padding: 5px;
}
.ourServices{
  max-width: 33.3333%;
  float: left;
  margin-top: 50px;
}
.serviceGroup{
  height: 300px;
  text-align: center;
}
.ourServices *{
  float: none;
  padding: 10px;
  margin: auto 80px;
}
.momentumGroup{
  height: 300px;
  text-align: left;
  background-color: rgba(243, 244, 246, 1);
}
.momentumGroup > section, 
.momentumGroup > section + section{
  max-width: 50%;
  padding: 50px;
  margin: auto 0;
  float: left;
}
.momentumGroup > section{
  padding-left: 100px;
}
.momentumGroup > section + section img{
  width: 200px;
  height: 150px;
  border: 2px solid black;
  padding: 80px;
}
.momentumGroup button{
  background-color: black;
  color: white;
}
.momentumGroup h2{
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}
.momentumGroup p{
  font-size: 12px;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 800px) {
  .buttonBox {
    float: right;
    max-width: 20%;
  }
  .shiftHolder{
    display: none;
  }
  html main .heroSection h1{
    font-size: 50px;
    padding: 40px 20px 0 60px
  }
  .hideMe{
    display: none;
  }
  .heroSection{
    max-width: 70%;
    width: 70%;
  }
  .buttonBox{
      max-width: 20%;
      width: 98px;
      height: 250px;
      margin-left: 0;
      margin-top: 10px;
      margin-right: 20px;
      float: right;
  }
  .buttonBox button{
    margin: 20px 20px 0 20px;
  }
  main > section * {
  padding: 40px 20px 0 60px;
  }
  .heroSection button{
  margin-left: 60px
  }
  main img {
  display: none;
  }
  html main {
    height: 400px;
  }
  h1 + span{
    font-size: 9px;
  }
}
