/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
.noto-serif-ahom-regular {
  font-family: "Noto Serif Ahom", serif;
  font-weight: 400;
  font-style: normal;
}
.crete-round-regular {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a{
  color: blue;
}
h1{
  font-family: "Noto Serif Ahom", serif;
}
h2{
  font-family: "Roboto", serif;
  font-size: 18px
}
a{
  font-family: "Crete Round", serif;
}
/******************************************
/* LAYOUT
/*******************************************/
header{
  height: 100px;
}
header nav > *{
  float: left;
  width: 10%;
  margin: 0 5%;
}
html header nav ul{
  display: inline;
  float: left;
  width: 300px;
}
html header nav ul li{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  list-style: none;
}
header a{
  text-decoration: none;
}
main li{
  list-style: none;
  display: inline;
  margin-left: 10px;
  float: left;
}
main section{
  width: 50%;
  height: 600px;
  display: inline;
  float: left;
}
main section + section{
  padding-right: 100px;
}
main > section h1{
  margin-top: 200px;
}
img{
  width: 500px;
  padding: 30px 0;
  float: right;
}
h1, h2{
  padding: 0 60px;
}
main nav ul{
 padding-left: 50px;
 margin-left: 0;
 float: left;
}
main nav ul a{
  padding: 10px;
  margin: 10px;
  float: left;
  color: white;
  background-color: rgb(0, 110, 255);
  text-decoration: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 1050px) {
  header{
    height: 50px;
  }
  main section{
    height: 400px;
  }
  main section + section{
    width: 80%;
    height: 200px;
  }
  main > section h1{
    margin-top: 0;
  }
  body main section img.khanGirl{
    width: 350px;
    float: left;
    clear: none;
  }
  html header nav ul{
    margin: 0;
    padding: 0;
  }
  form{
    display: none;
  }
  .courses{
    display: none;
  }
}
