/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  width: 100%;
}
h1, h2, form{
  text-align: center;
}
button{
  display: block;
  margin: 20px auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
